# Set solidity version
export DAPP_SOLC_VERSION=0.8.11

# To surpress $(dapp remappings) error
export DAPP_REMAPPINGS=""

# Activate the optimizer
export DAPP_BUILD_OPTIMIZE=1

# RPC URL
export ETH_RPC_URL=
